.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.2);
    max-width:300px;
    margin:auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 12px;
}

button { 
    background-color: green;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px
}

#taskInput {
    padding: 8px;
    margin: 4px 2px;
    border-radius: 5px;
    border-color: lightgray;
}
ul {
    list-style-type: none;
    margin: 3px 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    padding-bottom: 20px;
}
ul li {
    background-color: lightgrey;
    margin: 5px 1px;
    padding: 8px 10px;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    justify-content: center;


}